
<!-- <input [(ngModel)] = "email"/> -->
<h1>Users</h1>
<div class="secondElement">
    <input [(ngModel)]="searchEmail" class="form-control" placeholder="Search by email">
    <button class="btn btn-primary" (click)="resetInput()">Reset</button>
</div>
<h3>Active User: {{ activeUsername | uppercase }}</h3>
<div class="row row-cols-1 row-cols-md-2 g-4" id="content">
  <div class="col" *ngFor="let user of users;  let i = index" >
    <app-child-c [dataUsers]="user" [searchEmail]="searchEmail" (btnClick)="onBtnClick($event)"></app-child-c>
  </div>
</div>

